<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>za.ac.tut.web.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>za.ac.tut.web.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <servlet-class>za.ac.tut.web.VerifyCodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>za.ac.tut.web.EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransferServlet</servlet-name>
        <servlet-class>za.ac.tut.web.TransferServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateInvoiceServlet</servlet-name>
        <servlet-class>za.ac.tut.web.CreateInvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMemberServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AddMemberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>za.ac.tut.web.EditUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindUserServlet</servlet-name>
        <servlet-class>za.ac.tut.web.FindUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>za.ac.tut.web.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllServlet</servlet-name>
        <servlet-class>za.ac.tut.web.GetAllServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>za.ac.tut.web.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EndDeleteUserServlet</servlet-name>
        <servlet-class>za.ac.tut.web.EndDeleteUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <url-pattern>/VerifyCodeServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/EditProfileServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransferServlet</servlet-name>
        <url-pattern>/TransferServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateInvoiceServlet</servlet-name>
        <url-pattern>/CreateInvoiceServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMemberServlet</servlet-name>
        <url-pattern>/AddMemberServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/EditUserServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindUserServlet</servlet-name>
        <url-pattern>/FindUserServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/DeleteUserServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllServlet</servlet-name>
        <url-pattern>/GetAllServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndDeleteUserServlet</servlet-name>
        <url-pattern>/EndDeleteUserServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <display-name>admin</display-name>
        <web-resource-collection>
            <web-resource-name>adminResources</web-resource-name>
            <description>Resources available for admin</description>
            <url-pattern>/finduser.jsp</url-pattern>
            <url-pattern>/FindUserServlet.do</url-pattern>
            <url-pattern>/edituser.jsp</url-pattern>
            <url-pattern>/EditUserServlet.do</url-pattern>
            <url-pattern>/deleteuser.html</url-pattern>
            <url-pattern>/DeleteUserServlet.do</url-pattern>
            <url-pattern>/viewuser.jsp</url-pattern>
            <url-pattern>/GetAllServlet.do</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>admin authentication</description>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>BankingRealm</realm-name>
        <form-login-config>
            <form-login-page>/loginsecurity.jsp</form-login-page>
            <form-error-page>/loginerror.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>The admin can view ,edit,delet and search customer information
</description>
        <role-name>admin</role-name>
    </security-role>
</web-app>
